:root {
    --header-card-bg-colour: #f8fafc;
    --main-bg-colour: #cbd5e1;
    --bg-blend: #64748b;
    --accent-colour: #0f172a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

label {
    font-size: 1.8rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 84% 8%;
}

.inputBoxShow {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #7dd3fc;
    opacity: .8;
}

.inputBoxHide {
    display: none;
}

#inputForm {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 33%;
    border: .2rem solid #000;
    border-radius: 1.2rem;
    background-color: #fff;
}

#closeOverlay {
    align-self: flex-end;
    padding: .2rem;
    border-radius: 100%;
}

.textInput {
    width: 50%;
    padding: .4rem;
    border: .15rem solid #000;
    border-radius: .4rem;
}

.sliderBox {
    width: 12rem;
    height: 4.5rem;
}

header {
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-bg-colour);
    box-shadow: .2rem .1rem 1.2rem var(--bg-blend);
    color: var(--accent-colour);
    z-index: 2;
}

#addBookBtn {
     font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--accent-colour);
    color: var(--main-bg-colour);
    padding: .5rem;
    border: none;
    border-radius: .6rem;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--main-bg-colour);
    color: var(--accent-colour);
}

.bookCard {
    width: 80%;
    height: 80%;
    border: .2rem solid var(--accent-colour);
    border-radius: .8rem;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--header-card-bg-colour);
    color: var(--accent-colour);
}

.bookCard * {
    margin: .3rem;
}

.bookCard > .authorItalics {
    font-style: italic;
}

.bookCard > .cardDeleteButton {
    margin-top: auto;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--accent-colour);
    color: var(--main-bg-colour);
    padding: .5rem;
    border: none;
    border-radius: .6rem;
}

input[type="checkbox"].slider {
    opacity: 0;
    position: absolute;
    left: -101vw;
}

input[type="checkbox"].slider + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  input[type="checkbox"].slider + label::before {
    content: "";
    width: 5rem;
    height: 3rem;
    background-color: var(--main-bg-colour);
    border-radius: 2rem;
    margin-right: .5rem;
  }

  input[type="checkbox"].slider + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    width: 2.5rem;
    height: 2.2rem;
    margin-left: .3rem;
    border-radius: 2rem;
    background-color: var(--accent-colour);
  }

  input[type="checkbox"].slider:focus + label::before{
    outline: .1rem solid var(--accent-colour);
  }

  input[type="checkbox"].slider:checked + label::before {
    background-color: #86efac;
  }

  input[type="checkbox"].slider:checked + label::after {
    transform: translateX(75%);
  }

footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    background-color: var(--main-bg-colour);
    color: var(--accent-colour);
}

footer a {
    font-size: 2.4rem;
    color: var(--accent-colour);
}