* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 84% 8%;
}

.inputBoxShow {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #7dd3fc;
    opacity: 0.8;
}

.inputBoxHide {
    display: none;
}

#inputForm {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    height: 33%;
    border: 0.2rem solid #000;
    border-radius: 1.2rem;
    background-color: #fff;
}

#inputForm label {
    font-size: 2.4rem;
}

.textInput {
    width: 50%;
    padding: 0.4rem;
    border: 0.15rem solid #000;
    border-radius: 0.4rem;
}

header {
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.bookCard {
    width: 80%;
    height: 80%;
    border: 0.2rem solid #000;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input.slider {
    opacity: 0;
    position: absolute;
    left: -101vw;
}

input.slider + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  input.slider + label::before {
    content: "";
    width: 5rem;
    height: 3rem;
    background-color: #DDD;
    border-radius: 2rem;
    margin-right: .5rem;
  }

  input.slider + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    width: 2.5rem;
    height: 2.2rem;
    left: .3rem;
    border-radius: 2rem;
    background-color: #333;
  }

  input.slider:focus + label::before{
    outline: 0.1rem solid #333;
  }

  input.slider:checked + label::before {
    background-color: #C6FFB8;
  }

  input.slider:checked + label::after {
    transform: translateX(1.9rem);
  }

footer {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
}